.header__logo {
  margin: 44px 0 42px;

  width: 142px;
  height: 34px;

  background-image: url(../../../images/logo_white.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin: 28px 0px 32px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    background-size: cover;
    width: 104px;
    height: 24px;
  }
}
