.place {
  max-width: 282px;

  border-radius: 10px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 auto;
  }
}