.popup__input-job {
  margin-top: 25px;
  padding-bottom: 13px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
}

.popup__input-job::placeholder {
  color: #000000;
}