.place__delete {
  width: 18px;
  height: 18px;

  background-image: url(../../../images/delete-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;

  position: absolute;
  right: 15px;
  top: 18px;
  
  display: none;
}

.place__delete:hover {
  opacity: .6;
  cursor: pointer;
}