.profile__info {
  display: grid;
  gap: 8px 20px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

@media screen and (max-width: 768px) {
  .profile__info {
    gap: 11px 10px;
  }
}