.places__item {
  max-width: 282px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .places__item {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    margin: 0 auto;
  }
}